.card {
    border: 1px solid yellowgreen;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(107, 106, 106, 0.374);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card-img {
    border-radius: 50%;
}